.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: url(https://thumbs.dreamstime.com/z/pen-old-paper-930885.jpg) no-repeat center center fixed; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.person {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}

.postDiv{
  display: flex;
  font-family: 'Dancing Script', cursive;
  font-weight: 1000;
  font-size: 25px;
  justify-content:center;
}

.create {
  margin-top: 5px;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(196, 194, 193);
  color: rgb(17, 17, 17);
}

.editDiv{
  display: flex;
  margin-top: 80px;
  font-family: 'Dancing Script', cursive;
  font-weight: 1000;
  font-size: 25px;
  justify-content:center;
}

.delete {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(196, 194, 193);
  color: rgb(17, 17, 17);
} 